@use 'login'; // Reaproveita todo o SCSS da página de login

// Estilos específicos para a página de troca de senha
body.phase-1 {
    .login__image {
        animation: fade-in 1s ease-in-out forwards; // A imagem terá animação de fade-in na fase 1
    }

    .login__modal {
        animation: slide-in 1s ease forwards; // O modal terá animação de slide-in
    }
}

body.phase-2 {
    .login__image {
        animation: none; // Remove a animação da imagem na fase 2
        opacity: 1; // Garante que a imagem permaneça visível
    }

    .login__modal {
        animation: slide-in 1s ease forwards; // O modal continuará com a animação de slide-in
    }
}

// Reutilizamos as animações do login
@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes slide-in {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0);
    }
}